form {
    width: 30%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.bntEnviar {
    border-radius: 1px;
    border: 0px;
    background-color: rgb(233, 5, 5);
    color: rgb(255, 255, 255);
    padding: 8px 32px;
}

.pp {
    text-align: center;
}

.FormHeader {
    background-color: rgba(0, 0, 0, 0.272);
}