form {
    width: 30%;
    margin: auto;
    text-align: left;
}

.bntEnviar {
    border-radius: 1px;
    border: 0px;
    background-color: rgb(233, 5, 5);
    color: rgb(255, 255, 255);
    padding: 8px 32px;
}

.pp {
    text-align: center;
}

.FormHeader {
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./imag/findo.jpg');
}

.logo {
    width: 20%;
    margin-top: 80px;
}

.parrafo {
    color: white;
    text-align: center;
    font-size: 17px;
}

.email {
    border-radius: 3px;
}