form {
    margin: auto;
    text-align: left;
}

.bntEnviar,
.bntEnviar2 {
    border-radius: 1px;
    border: 0px;
    background-color: rgb(233, 5, 5);
    color: rgb(255, 255, 255);
    padding: 8px 32px;
}

.bntEnviar2 {
    border-radius: 4px;
    padding: 16px 48px;
    width: 100%;
    font-size: 20px;
}

.pp {
    text-align: center;
}

.FormHeader {
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./imag/findo.jpg');
}

.logo {
    width: 20%;
}

.parrafo,
.parrafo2 {
    color: white;
    text-align: center;
    font-size: 17px;
}

.parrafo2 {
    color: black;
    text-align: left;
}

.parrafo2 h3 {
    font-size: 23px;
}

.email {
    border-radius: 3px;
}

.fondo,
.fondo2,
.fondo3,
.fondo4 {
    margin: auto;
    width: 35%;
    padding: 18px;
}

.fondo3,
.fondo4 {
    width: 70%;
}

.fondo2,
.fondo3,
.fondo4 {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(159, 159, 159);
}

.mida {
    width: 450px;
}

.seleccion {
    background-color: #ff9b9b;
    /* Fondo rojo claro */
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
    transition: background-color 0.3s ease-out;
}

.seleccion.active {
    background-color: #e30000;
}

.flecha.active::after {
    display: block;
}

.flecha::after {
    content: '';
    position: absolute;
    top: 54px;
    display: none;
    right: 45%;
    transform: translateY(-50%);
    border-width: 5px 5px 0;
    border-style: solid;
    border-color: #e30000 transparent transparent;
}

.colorSelect.active {
    color: #e30000;
}

.cont {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.text-start {
    text-align: start;
}

.planmes {
    background-color: #cecece54;
    align-items: center;
    position: relative;
}

.cambiarBNT {
    background-color: #9d9d9d00;
    color: rgb(0, 0, 255);
    position: absolute;
    top: 35%;
    right: 10px;
    border: none;
}

.formLateral {
    width: 50%;
    margin: auto;
}

.infoTarjeta {
    width: 300px;
    margin: auto;
}